* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1000px;
    background:url(bg.png);
    background-size:cover;
    background-position: center;
    color: #333;
}

.category-section {
    padding: 20px;
    text-align: center;
    background-color: transparent;
    max-width: 1000px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: black;
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category {
    background-color:   #f77c00;
    width: 30%;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.category h2 {
    font-size: 1.8rem;
    color:black ;
    margin-bottom: 10px;
}

.category p {
    font-size: 1rem;
    color: black;
}

.category:hover {
    background-color:  #df350a;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .category {
        width: 100%;
        margin-bottom: 20px;
    }
}
button {
    width: 150px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-left: 45%;
    border:1px ;
    border-radius: 5px;
    background: #cf961a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s; 
    display: inline-block; 
  }
  button:hover {
    background: #df350a; 
  }
.a{
    text-decoration: none;
}