body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('bg.png') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}
.login-container {
    background: transparent;
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(05px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    box-sizing: border-box; 
}
.login-form {
    text-align: center;
    color: rgb(0, 0, 0); 
}
.login-form h2 {
    margin-bottom: 20px;
    color: #333;
}
.input-group {
    position: relative;
    margin-bottom: 15px;
}
.input-group input {
    width: 100%;
    padding: 10px;
    padding-left: 40px; 
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
    box-sizing: border-box; 
}
.input-group .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
}
.remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.remember-me label {
    display: flex;
    color: #d6d5e4;
    align-items: center;
    font-size: larger;
}
.remember-me input {
    margin-right: 5px;
}
.forgot-password {
    color:#d6d5e4; 
    text-decoration: none;
    font-size: large;
}
.forgot-password:hover {
    text-decoration: underline;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #cf961a;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s; 
}
button:hover {
    background: #df350a; 
}
.register-link {
    margin-top: 30px;
     color: white;
    font-size: large;
}
.register-link a {
    color: #261acf;
    font-size: x-large;
    text-decoration: none;
}
.register-link a:hover {
    text-decoration: underline;
}
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
    }

    .login-form h2 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }

    .input-group input {
        padding-left: 30px;
    }
}
